<footer class="bg-secondary shadow p-3 mb-5 bg-white rounded">
    <h4>
        Our social media:
           <a href="https://www.instagram.com/magnumconcilium/"> <i class="fa-brands fa-instagram"> </i></a> 
    </h4>
    <h4>
        Our 3d model shop (files only):
        
    <a href="https://cults3d.com/en/users/gregsmee55/creations"
    class="link-primary">
        <img src="/img/cults.svg" alt="cults logo" class="cults-logo">
    </a>
    </h4>

</footer>